@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
    --orange: #ff7c4e;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

.none {
    display: none !important;
}
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
.container-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding));
}

.header {
    overflow: hidden;
    padding-top: 44px;
    position: relative;
    min-height: 940px;
    color: #fff;
    background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
}
.header a {
    color: #fff;
}
.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url('./../img/header/header-bottom.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.header__top {
    margin-bottom: 86px;
}
.header__row {
    display: flex;
}
.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}
.header__img {
    
    position: relative;
    flex-grow: 1;
}
.header__img::after {
    content: "";
    background-image: url("./../img/header/header-elements.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -55px;
    right: -7px;
    width: 738px;
    height: 592px;
    pointer-events: none;
}
.header__img img {
    position: absolute;
    top: -38%;
    right: -15%;
    max-width: unset;
    width: 894px;
    height: 940px;
    pointer-events: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}
.nav__list--footer a {

}
.nav__list--footer a.active::after, 
.nav__list--footer a:hover::after {
    display: none;
}
.nav__list--footer a.active, 
.nav__list--footer a:hover {
    color: var(--orange);
}
.nav__list a {
    position: relative;
}
.nav__list a.active::after, 
.nav__list a:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 10px;
    bottom: -6px;
    /* width: 35px; */
    height: 4px;
    background-color: #c4c4c4;
    border-radius: 50px;
}
.nav__login {
    display: flex;
    align-items:center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}
.nav__toggle {
    display: none;
}
.btn {
    display: inline-block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 13px 44px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.btn:hover {
    color:rgba(238, 247, 82, 0.5);
    transition: color 0.2s ease-in-out;
}
.btn:active {
    position: relative;
    top: 1.5px;
}

.header__badge {
    margin-bottom: 7px;
    display: inline-block;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}
.header__title {
    font-size: 55px;
    margin-bottom: 30px;
}
.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);

}
.header__btn {
    display: inline-block;
    border-radius: 27px;
    padding: 27px 48px;
    font-size: 25px;
    font-weight: 600;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.header__btn:hover {
    color:rgba(238, 247, 82, 0.5);
    transition: color 0.2s ease-in-out;
}
.header__btn:active {
    position: relative;
    top: 1.5px;
}

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}
.destinations__content {
    max-width: 456px;
}
.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
}
.destinations__title span {
    font-size: 30px;
}

.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
}
.btn {
    display: inline-block;
    padding: 25px 45px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-size: 20px;
    font-weight: 600;
    color: #fff !important;

}

.slider {
    position: relative;
    height: 456px;
}
.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
}
.slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}
.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    padding-left: 26px;
    align-items: center;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.slider__btn--prev {
    left: -27px;
    padding-left: 26px;
    justify-content: flex-start;
}
.slider__btn--next {
    right: -27px;
    padding-right: 26px;
    justify-content: flex-end;
}
.customers {
    padding: 100px 0 133px ;
}
.customers__row {
    display: flex;
    column-gap: 68px;

}
.customers__img {
    max-width: 478px;
    
}
.customers__img img {
    border-radius: 60px; 
}

.customers__content {
    max-width: 491px;
}
.customers__title {
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: 500;
}

.review__client {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    column-gap: 33px;
}
.review__client-avatar {
    overflow: hidden;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #ff794e;
}

.review__client-desc-name {
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
}
.review__client-desc-country {
    font-size: 25px;
    color: var(--secondary);
}
.review__text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500;

}

.cta {
    padding: 100px 0;
}
.cta__plate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 580px;
    padding: 40px 15px;
    background-color: #fff;
    border-radius: 60px;
}
.cta__plate::before,
.cta__plate::after {
    position: absolute;
    width: 63px;
    height: 83px;
    content: "";
}
.cta__plate::before {
    left: 74px;
    bottom: 56px;
    background-image: url("./../img/cta/cta-el-01.svg");
}
.cta__plate::after {
    top: 70px;
    right: 80px;
    background-image: url("./../img/cta/cta-el-02.svg");
}
.cta__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    max-width: 520px;
}
.cta__text {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 500;
    color: var(--secondary);
}
.subscribe {
    padding: 35px 0 50px;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subscribe__title {
    margin-bottom: 60px;
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
}
.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: #fff;
    display: flex;
    column-gap: 20px;
}
.subscribe-form__input {
    font-size: 24px;
    font-weight: 500;
    
}
.subscribe-form__input::placeholder {
    color: var(--secondary);
}
.subscribe-form__btn {
    display: inline-block;
    padding: 36px 86px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 35px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
}
.subscribe-form__btn:hover {
    color:rgba(238, 247, 82, 0.5);
    transition: color 0.2s ease-in-out;
}
.subscribe-form__btn:active {
    position: relative;
    top: 1.5px;
}


.footer {
    padding: 56px 0 74px;
}
.footer a {
    color: var(--secondary);
}
.logo--footer a {
    color: var(--orange);
}

.nav__list--footer {
    display: flex;
    gap: 80px;
}

.btn--footer {
    color: #fff;
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
}


.menu-icon-wrapper {
    /*   background: red; */
      width: 40px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu-icon {
      position: relative;
      width: 40px;
      height: 3px;
      background-color: #fff;
      opacity: 0.8;
    }
    
    .menu-icon::before {
      position: absolute;
      left: 0;
      top: -8px;
      content: '';
      width: 40px;
      height: 3px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon::after {
      position: absolute;
      left: 0;
      top: 8px;
      content: '';
      width: 40px;
      height: 3px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon.menu-icon-active {
      background-color: transparent;
    }
    
    .menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    
    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    


@media (max-width: 1400px) {
    .header::after {
        height: 90px;
    }
}

@media (max-width: 1340px) {
    .header::after {
        height: 74px;
    }
}

@media (max-width: 1269px) {
    .container-right {
        padding-left: 15px;
    }
}
@media (max-width: 1200px) {
    .destinations__slider {
        width: 900px;
    }
}

@media (max-width: 1113px) {
    .header::after {
        height: 67px;
    }
}
@media (max-width: 1019px) {
    .header::after {
        height: 54px;
    }
}

@media (max-width: 1000px) {

    .nav__list {
        display: none;
    }

    .nav__login {
        display: none;
    }

    .nav__toggle {
        display: block;
    }

    .no-scroll {
        overflow-y: hidden;
    }
    .nav--mobile {
        position: fixed;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%, #0c1d15);
    }
    .nav--mobile .logo {
        font-size: 34px;
    }
    .nav--mobile .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        font-size: 22px;
    }
    .nav--mobile .nav__list a.active::after,
    .nav--mobile .nav__list a:hover::after {
        display: none;
    }
    .nav--mobile .nav__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        font-size: 22px;
    }
    .nav--mobile .nav__toggle {
        position: fixed;
        top: 50px;
        right: 50px;
    }
    .header__img img {
        top: -28%;
        right: -80%;
    }
    .header__img::after {
        
        right: -257px;
    }
    .destinations__slider {
        width: 600px;
    }
    .slider {
        height: 304px;
    }
    .slider .slider__item {
        margin-top: 18px;
        width: 223px;
        height: 268px;
    }
    .slider .center .slider__item {
        margin-top: 0;
        width: 253px;
        height: 304px;
    }
    .slider__btn {
        top: 50%;
        transform: translateY(-50%);
    }
}


@media (max-width: 900px) {
    .header__img img {
        right: -100%;
    }
}
@media (max-width: 850px) {
    .header {
        min-height: 840px;
    }
    .header::after {
        height: 47px;
    }
    .header__img::after {
        top: 169px;
    }
    .header__row {
        flex-direction: column;
    }
    .header__img img {
        position: static;
        width: 70%;
        height: auto;
    }
    .header__img::after {
        top: 100px;
        right: 61px;
    }
    .header__title {
        margin-bottom: 20px;
        font-size: 35px;
    }
    .header__text {
        max-width: 400px;
        margin-bottom: 40px;
        font-size: 20px;
    }
    .header__badge {
        margin-bottom: 5px;
        padding: 8px 20px;
        font-size: 16px;
        border-radius: 10px;
    }
    .header__btn {
        padding: 20px 30px;
        font-size: 20px;
        border-radius: 18px;
    }
    .menu-icon-wrapper {
        width: 35px;
    }
    .menu-icon::before {
        width: 35px;
    }
    .menu-icon::after {
        width: 35px;
    }
    .btn {
        padding: 15px 30px;
    }
    .nav--mobile .nav__login {
        row-gap: 15px;
    }
    .header__top {
        margin-bottom: 40px;
    }
    .header__text {
        font-size: 18px;
    }
    .container-right {
        padding-right: 15px;
    }
    .destinations__row {
        flex-direction: column;
        align-items: center;
    }
    .destinations {
        padding-top: 60px;
    }
    .destinations__title {
        font-size: 35px;
    }
    .destinations__content {
        text-align: center;
        margin-bottom: 40px;
    }
    .destinations__text {
        margin-bottom: 30px;
        font-size: 18px;
    }
    .destinations__slider {
        width: 100%;
    }
    .slider {
        height: auto;
    }
    .slider__btn {
        top: 50%;
        transform: translateY(-50%);
    }
    .slider__btn--prev {
        left: -14px;
    }
    .slider__btn--next {
        right: -14px;
    }
    .customers {
        padding: 70px 0 20px;
    }
    .customers__title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    .review__client {
        margin-bottom: 30px;
    }
    .review__client-desc-name {
        font-size: 26px;
        margin-bottom: 0;
    }
    
    .review__client-desc-country {
        font-size: 20px;
    }
    .review__text {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .cta {
        padding: 70px 0;
    }
    .cta__plate::after {
        top: 56px;
        right: 60px;
    }
    .cta__plate::before {
        left: 60px;
    }
    .cta__title {
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }
    .cta__text {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .subscribe__title {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .subscribe-form__input {
        font-size: 18px;
    }
    .subscribe-form__btn {
        padding: 20px 45px;
        font-size: 20px;
    }
}
@media (max-width: 720px) {
    .header::after {
        height: 41px;
    }
    .customers__row {
        flex-direction: column-reverse;
        align-items: center;
    }
    .customers__img  {
        max-width: 45%;
    }
    .customers__title {
        margin-top: 20px;
        text-align: center;
    }
    .review__client-avatar {
        width: 80px;
        height: 80px;
    }
    .review__client {
        justify-content: center;
    }
    .review__text {
        text-align: center;
    }
    .review__rating {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .customers__img img {
        border-radius: 30px;
    }
}
@media (max-width: 633px) {
    .header::after {
        height: 35px;
    }
}
@media (max-width: 564px) {
    .header {
        min-height: 728px;
    }
    .header::after {
        height: 28px;
    }
    .header__img::after {
        top: 148px;
        right: -3px;
    }
}
@media (max-width: 460px) {
    .nav--mobile .nav__toggle {
        top: 15px;
        right: 15px;
    }
    .nav--mobile .nav__list {
        row-gap: 20px;
    }
}
@media (max-width: 430px) {

    .header::after {
        height: 22px;
    }
    .header__img::after {
        top: 75px;
        right: -29px;
    }
}
@media (max-width: 350px) {

    .header::after {
        height: 20px;
    }
    .header__img::after {
        top: 75px;
        right: -29px;
    }
}
@media (max-width: 311px) {
    .header::after {
        height: 16px;
    }
    .menu-icon-wrapper {
        width: 30px;
    }
    .menu-icon {
        height: 2px;
    }
    .menu-icon::before {
        width: 30px;
        height: 2px;
        top: -5px;
    }
    .menu-icon::after {
        width: 30px;
        height: 2px;
        top: 5px;
    }
    .header__btn {
        padding: 15px 30px;
        display: block;
        text-align: center;
    }
    .header__title {
        font-size: 30px;
    }
}